<% include _header %>

  <!-- 
    Visor de Markdown
    http://strapdownjs.com/
  -->
  <section>
    <h2> <%=__('readme_md') %> </h2>
    <xmp theme="united" style="display:list-item;">
      <%- readme %>
    </xmp>
  </section>
  <script>conf = {theme: 'bootstrap', title: ''};</script> \
<script src='http://ais.habilis.net/autoindex_strapdown.js'></script> \
<link rel='stylesheet' href='http://ais.habilis.net/autoindex_strapdown.css'>


<% include _footer %>
